In [11]:
import time
import pandas as pd
import numpy as np
from pandas import DataFrame
from datetime import datetime

_time = time.time()
xls = pd.ExcelFile("..\Input file\Costing Examples with rates.xlsx")
def date_to_str(date):
    date = str(date).split("-")
    return date[1] + "/" + date[2] 

def day_val(day):
    val = {"Monday":0,"Tuesday":1,"Wednesday":2,'Thursday':3,"Friday":4,"Saturday":5,"Sunday":6}
    return val[day]

def get_excel():
    time_df = pd.read_excel(xls, 'Check')
    return time_df
def get_rate_df():
    rate_df = pd.read_excel(xls, 'Rates')
    return rate_df
def get_holiday():

    holiday_df = xls.parse("Holiday")
    holiday_list = [("" if m>9 else "0") + str(m) + "/" + ("" if d>9 else "0") + str(d) for d, m in zip(holiday_df["Day"], holiday_df["Month"])]

    return holiday_list

def get_holiday_rate():
    holiday_rate = 2.5
    return holiday_rate

def get_rate_data():
    rate1 = np.array([[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1.5,1.5,1.5,1.5,2],[2,2,2,2,2]])
    rate2 = np.array([[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1,1.15,1.25,1.5,2],[1.5,1.5,1.5,1.5,2],[2,2,2,2,2]])
    rate3 = np.array([[1.2,1.35,1.45,1.7,2.2],[1.2,1.35,1.45,1.7,2.2],[1.2,1.35,1.45,1.7,2.2],[1.2,1.35,1.45,1.7,2.2],[1.2,1.35,1.45,1.7,2.2],[1.7,1.7,1.7,1.7,2.2],[2.2,2.2,2.2,2.2,2.2]])   
    rate_data = {"fulltime": rate1, "parttime": rate2, "casual": rate3}
    return rate_data
rate_df = get_rate_df()
time_df = get_excel()

def get_base_rate(rate_df,time_df):
    base_rate = None
    result = pd.merge(time_df, rate_df.dropna(subset=['contactid']), on = 'contactid', how='left')
    result = pd.merge(result, rate_df.dropna(subset=['positionid']), left_on = 'positionid_x', right_on = 'positionid', how='left')
    null_rate = float(rate_df["amount"][rate_df['contactid'].isnull() & rate_df['positionid'].isnull()])
    base_rate = [result['amount_x'][i]if not result['amount_x'].isnull()[i] else (result['amount_y'][i] if not result['amount_y'].isnull()[i] else null_rate) for i in range(len(result['amount_x'])) ]    
    result["rates"] = base_rate
    
    return result
a=get_base_rate(rate_df,time_df)
# print(len(a))
a

,objecttimeid,ParentOTID,periodName,PeriodStartDate,PeriodEndDate,contactid_x,employmenttype,positionid_x,RoundedStart,RoundedEnd,...,ratesourceid_x,positionid_y,amount_x,effectivedate_x,ratesourceid_y,positionid,contactid_y,amount_y,effectivedate_y,rates
0,9B033487-48AF-4F7B-B2C2-87C32E0044C9,NaN,Weekly,2021-05-10,2021-05-16,FA5BB28E-86B3-4586-8BF9-042CBAC95255,Casual,2A32484B-B266-43D2-BB6B-448F79D001CD,2021-05-16 10:00:00,2021-05-16 12:30:00,...,NaN,NaN,NaN,NaT,6EA766DC-6A68-4132-B38C-BEBBEB79493C,2A32484B-B266-43D2-BB6B-448F79D001CD,NaN,32.450001,2021-05-01,32.450001
1,C29F1F2E-6DA3-458F-A690-418342EB07E5,NaN,Weekly,2021-05-17,2021-05-23,FA5BB28E-86B3-4586-8BF9-042CBAC95255,Casual,2A32484B-B266-43D2-BB6B-448F79D001CD,2021-05-17 10:00:00,2021-05-17 12:30:00,...,NaN,NaN,NaN,NaT,6EA766DC-6A68-4132-B38C-BEBBEB79493C,2A32484B-B266-43D2-BB6B-448F79D001CD,NaN,32.450001,2021-05-01,32.450001
2,39A66C7E-048C-4527-9DE3-ACD06DEC63A0,NaN,Default,2021-01-20,2021-01-26,80DD07E6-C772-4485-BEFB-04C0B84E3E74,Casual,NaN,2021-01-25 18:30:00,2021-01-26 05:00:00,...,140EB6F4-016E-4C98-8613-BB73F981E88D,1A8A6946-E104-4A44-BDB9-71FF29913755,32.8,2021-01-01,NaN,NaN,NaN,NaN,NaT,32.800000
3,21352563-B253-4D67-B732-95A20294E4E1,NaN,Default,2021-02-17,2021-02-23,80DD07E6-C772-4485-BEFB-04C0B84E3E74,Casual,NaN,2021-02-22 23:30:00,2021-02-23 11:30:00,...,140EB6F4-016E-4C98-8613-BB73F981E88D,1A8A6946-E104-4A44-BDB9-71FF29913755,32.8,2021-01-01,NaN,NaN,NaN,NaN,NaT,32.800000
4,28724A00-90D0-4FAF-93A7-A149A8951A68,NaN,Weekly - Mon - Sun,2021-03-29,2021-04-04,5F1A0250-7EE6-4F55-9D33-0A447FA4E55A,Casual,306598B1-8099-4832-9F4D-136959A06D22,2021-04-03 08:00:00,2021-04-03 08:05:00,...,622C41EE-1E03-4486-BCD2-A02EC876BCC6,NaN,57.6,2021-01-01,NaN,NaN,NaN,NaN,NaT,57.600000
5,8E88900F-35C2-4638-9C01-B892783E741A,NaN,Weekly - Mon - Sun,2021-03-29,2021-04-04,5F1A0250-7EE6-4F55-9D33-0A447FA4E55A,Casual,306598B1-8099-4832-9F4D-136959A06D22,2021-04-04 08:00:00,2021-04-04 08:05:00,...,622C41EE-1E03-4486-BCD2-A02EC876BCC6,NaN,57.6,2021-01-01,NaN,NaN,NaN,NaN,NaT,57.600000
6,9308FBDA-8C60-4834-93D3-32BFB0D347DF,NaN,Weekly - Mon - Sun,2021-03-29,2021-04-04,9C053AC1-8B57-42D4-B778-0A755810494F,Casual,306598B1-8099-4832-9F4D-136959A06D22,2021-03-29 08:30:00,2021-03-29 14:00:00,...,CF33DFE8-2611-488E-B6EC-52A88FF84290,NaN,58.0,2021-01-01,NaN,NaN,NaN,NaN,NaT,58.000000
7,7A560067-0065-4845-9A9A-4903BC549ED3,NaN,"Above Rail (VIC, NSW) - Sunday to Saturday (WE)",2021-05-30,2021-06-05,83830F2B-A02B-4C22-B11C-1114E106CC97,Casual,53AC7B99-A560-49C4-9093-2DAD289A048B,2021-06-03 20:30:00,2021-06-04 08:00:00,...,NaN,NaN,NaN,NaT,FDE15883-70A1-4413-A3D7-F5A9D954F3B8,53AC7B99-A560-49C4-9093-2DAD289A048B,NaN,51.660000,2021-01-01,51.660000
8,06AAC9A8-6481-48B4-8895-F500E5C6CA75,NaN,"Above Rail (VIC, NSW) - Sunday to Saturday (WE)",2021-05-30,2021-06-05,83830F2B-A02B-4C22-B11C-1114E106CC97,Casual,53AC7B99-A560-49C4-9093-2DAD289A048B,2021-06-04 17:30:00,2021-06-05 04:30:00,...,NaN,NaN,NaN,NaT,FDE15883-70A1-4413-A3D7-F5A9D954F3B8,53AC7B99-A560-49C4-9093-2DAD289A048B,NaN,51.660000,2021-01-01,51.660000
9,232C5947-AFD1-4FF9-9A84-931957DDEFE9,NaN,"Above Rail (VIC, NSW) - Sunday to Saturday (WE)",2021-01-03,2021-01-09,34625FA7-21C8-4CA4-853B-11A5FF6D79F4,Casual,53AC7B99-A560-49C4-9093-2DAD289A048B,2021-01-04 09:00:00,2021-01-04 12:00:00,...,47F4CA8A-3A33-462C-B665-E65A4FCAB0AB,NaN,59.2,2021-01-01,FDE15883-70A1-4413-A3D7-F5A9D954F3B8,53AC7B99-A560-49C4-9093-2DAD289A048B,NaN,51.660000,2021-01-01,59.200000
10,B9372E73-C961-49B5-9A8C-D5FFAFBE4BFB,232C5947-AFD1-4FF9-9A84-931957DDEFE9,"Above Rail (VIC, NSW) - Sunday to Saturday (WE)",2021-01-03,2021-01-09,34625FA7-21C8-4CA4-853B-11A5FF6D79F4,Casual,53AC7B99-A560-49C4-9093-2DAD289A048B,2021-01-04 12:30:00,2021-01-04 17:30:00,...,47F4CA8A-3A33-462C-B665-E65A4FCAB0AB,NaN,59.2,2021-01-01,FDE15883-70A1-4413-A3D7-F5A9D954F3B8,53AC7B99-A560-49C4-9093-2DAD289A048B,NaN,51.660000,2021-01-01,59.200000
11,290C3B1B-6079-4B08-9A67-CABD40D8D710,NaN,"Above Rail (VIC, NSW) - Sunday to Saturday (WE)",2021-01-03,2021-01-09,34625FA7-21C8-4CA4-853B-11A5FF6D79F4,Casual,53AC7B99-A560-49C4-9093-2DAD289A048B,2021-01-05 09:00:00,2021-01-05 12:00:00,...,47F4CA8A-3A33-462C-B665-E65A4FCAB0AB,NaN,59.2,2021-01-01,FDE15883-70A1-4413-A3D7-F5A9D954F3B8,53AC7B99-A560-49C4-9093-2DAD289A048B,NaN,51.660000,2021-01-01,59.200000
12,D83DEDBF-66C3-4DE0-906A-C7D5F0651654,NaN,Default,2021-03-03,2021-03-09,34625FA7-21C8-4CA4-853B-11A5FF6D79F4,Casual,NaN,2021-03-08 07:30:00,2021-03-08 17:30:00,...,47F4CA8A-3A33-462C-B665-E65A4FCAB0AB,NaN,59.2,2021-01-01,NaN,NaN,NaN,NaN,NaT,59.200000
13,1878C2A3-D72D-447A-87BD-D3345CA7CA53,NaN,Default,2021-03-10,2021-03-16,NaN,Casual,NaN,2021-03-13 22:00:00,2021-03-14 10:00:00,...,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,50.000000
14,053B3C11-537A-4A7A-82E6-7BE4A9FECD9B,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-11 04:00:00,2021-02-11 18:00:00,...,NaN,NaN,NaN,NaT,E7FE6319-007C-4E78-A1A2-FEC44ED4D66F,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2020-12-01,26.030000
15,053B3C11-537A-4A7A-82E6-7BE4A9FECD9B,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-11 04:00:00,2021-02-11 18:00:00,...,NaN,NaN,NaN,NaT,B07A639F-F310-4168-BF73-87734786F9A2,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2021-01-01,26.030000
16,053B3C11-537A-4A7A-82E6-7BE4A9FECD9B,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-11 04:00:00,2021-02-11 18:00:00,...,NaN,NaN,NaN,NaT,FF23059E-EAF7-4CFD-A663-F9FDACD0EE91,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.490000,2021-01-02,26.490000
17,053B3C11-537A-4A7A-82E6-7BE4A9FECD9B,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-11 04:00:00,2021-02-11 18:00:00,...,NaN,NaN,NaN,NaT,87E0C388-E0B7-4B40-9C7A-E1E3D6916D5B,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2021-01-17,26.030000
18,053B3C11-537A-4A7A-82E6-7BE4A9FECD9B,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-11 04:00:00,2021-02-11 18:00:00,...,NaN,NaN,NaN,NaT,0F6DF04A-0A15-46CE-93B0-FC930A3392CC,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.490000,2021-03-01,26.490000
19,053B3C11-537A-4A7A-82E6-7BE4A9FECD9B,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-11 04:00:00,2021-02-11 18:00:00,...,NaN,NaN,NaN,NaT,140EB6F4-016E-4C98-8613-BB73F981E88D,1A8A6946-E104-4A44-BDB9-71FF29913755,80DD07E6-C772-4485-BEFB-04C0B84E3E74,32.800000,2021-01-01,32.800000
20,46BC83F6-0294-4590-BB9B-C5FEFF3F26DE,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-12 05:00:00,2021-02-12 16:00:00,...,NaN,NaN,NaN,NaT,E7FE6319-007C-4E78-A1A2-FEC44ED4D66F,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2020-12-01,26.030000
21,46BC83F6-0294-4590-BB9B-C5FEFF3F26DE,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-12 05:00:00,2021-02-12 16:00:00,...,NaN,NaN,NaN,NaT,B07A639F-F310-4168-BF73-87734786F9A2,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2021-01-01,26.030000
22,46BC83F6-0294-4590-BB9B-C5FEFF3F26DE,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-12 05:00:00,2021-02-12 16:00:00,...,NaN,NaN,NaN,NaT,FF23059E-EAF7-4CFD-A663-F9FDACD0EE91,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.490000,2021-01-02,26.490000
23,46BC83F6-0294-4590-BB9B-C5FEFF3F26DE,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-12 05:00:00,2021-02-12 16:00:00,...,NaN,NaN,NaN,NaT,87E0C388-E0B7-4B40-9C7A-E1E3D6916D5B,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2021-01-17,26.030000
24,46BC83F6-0294-4590-BB9B-C5FEFF3F26DE,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-12 05:00:00,2021-02-12 16:00:00,...,NaN,NaN,NaN,NaT,0F6DF04A-0A15-46CE-93B0-FC930A3392CC,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.490000,2021-03-01,26.490000
25,46BC83F6-0294-4590-BB9B-C5FEFF3F26DE,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-12 05:00:00,2021-02-12 16:00:00,...,NaN,NaN,NaN,NaT,140EB6F4-016E-4C98-8613-BB73F981E88D,1A8A6946-E104-4A44-BDB9-71FF29913755,80DD07E6-C772-4485-BEFB-04C0B84E3E74,32.800000,2021-01-01,32.800000
26,A1B7F5DD-B4B0-4A54-AFE3-FF1BE86F4557,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-14 07:00:00,2021-02-14 18:00:00,...,NaN,NaN,NaN,NaT,E7FE6319-007C-4E78-A1A2-FEC44ED4D66F,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2020-12-01,26.030000
27,A1B7F5DD-B4B0-4A54-AFE3-FF1BE86F4557,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-14 07:00:00,2021-02-14 18:00:00,...,NaN,NaN,NaN,NaT,B07A639F-F310-4168-BF73-87734786F9A2,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2021-01-01,26.030000
28,A1B7F5DD-B4B0-4A54-AFE3-FF1BE86F4557,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-14 07:00:00,2021-02-14 18:00:00,...,NaN,NaN,NaN,NaT,FF23059E-EAF7-4CFD-A663-F9FDACD0EE91,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.490000,2021-01-02,26.490000
29,A1B7F5DD-B4B0-4A54-AFE3-FF1BE86F4557,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-14 07:00:00,2021-02-14 18:00:00,...,NaN,NaN,NaN,NaT,87E0C388-E0B7-4B40-9C7A-E1E3D6916D5B,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.030000,2021-01-17,26.030000
30,A1B7F5DD-B4B0-4A54-AFE3-FF1BE86F4557,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-14 07:00:00,2021-02-14 18:00:00,...,NaN,NaN,NaN,NaT,0F6DF04A-0A15-46CE-93B0-FC930A3392CC,1A8A6946-E104-4A44-BDB9-71FF29913755,NaN,26.490000,2021-03-01,26.490000
31,A1B7F5DD-B4B0-4A54-AFE3-FF1BE86F4557,NaN,Weekly - Mon - Sun,2021-02-08,2021-02-14,4C386EA1-0769-4DBF-BDFF-10E6EBBDC3A9,Casual,1A8A6946-E104-4A44-BDB9-71FF29913755,2021-02-14 07:00:00,2021-02-14 18:00:00,...,NaN,NaN,NaN,NaT,140EB6F4-016E-4C98-8613-BB73F981E88D,1A8A6946-E104-4A44-BDB9-71FF29913755,80DD07E6-C772-4485-BEFB-04C0B84E3E74,32.800000,2021-01-01,32.800000

In [2]:
holiday_list = get_holiday()
holiday_rate = get_holiday_rate()

rate_data = get_rate_data()
def cal_base_rate(_type, day, start_time, end_time, rate_data,start_date,end_date):
    shift = 2      
    ord_rate = 0
    ot1_rate = 0
    ot2_rate = 0
    if date_to_str(start_date) in holiday_list:
        ord_rate = holiday_rate
        ot1_rate = holiday_rate
        ot2_rate = holiday_rate
    else:        
        if _type == "fulltime":
            if start_time < 5 or (end_time > 1 and start_date != end_date):
                shift = 2
            elif end_time > 19 or (end_time < 1 and start_date != end_date):
                shift = 1
            elif start_time >= 5 and end_time < 20:
                shift = 0
            
        elif _type == "parttime":
            
            if start_time < 5 or (end_time > 1 and start_date != end_date):
                shift = 2
            elif end_time > 19 or (end_time < 1 and start_date != end_date):
                shift = 1
                             
            elif start_time >= 5 and end_time < 20:
                shift = 0

        else:
            
            if start_time < 5 or (end_time > 1 and start_date != end_date):
                shift = 2
            elif end_time > 19 or (end_time < 1 and start_date != end_date):
                shift = 1
            elif start_time >= 5 and end_time < 20:
                shift = 0
            
        ord_rate = rate_data[_type][day_val(day)][shift]
        ot1_rate = rate_data[_type][day_val(day)][3]
        ot2_rate = rate_data[_type][day_val(day)][4]
    return (ord_rate,ot1_rate,ot2_rate,shift)

def get_maxot1(_type):
    if _type == "casual":
        maxot_1 = 10
    elif _type == "fulltime" or _type == "parttime":
        maxot_1 = 8
    return maxot_1

time_df = get_excel()
time_df['Amount'] = get_base_rate(rate_df,time_df)
def get_data(time_df):
    import re
    data= []
    last_data = []
    for row in time_df.iterrows():    
#         _id = row[1]["employee_name"] 
        _rate = row[1]['Amount']
        _id = row[1]['contactid']
        positionid= row[1]['positionid']
        objecttimeid = row[1]['objecttimeid']
        parentotid = row[1]['ParentOTID']
        if type(parentotid) == float:
            parentotid = objecttimeid
        
        start_period = row[1]['PeriodStartDate'].date()   
        end_period = row[1]['PeriodEndDate'].date()
        start = row[1]["RoundedStart"]
        end   = row[1]["RoundedEnd"]   
        start_time = start.hour + start.minute/60
        end_time = end.hour + end.minute/60
    
        _type = row[1]["employmenttype"]
        for k in _type.lower().split('\n'):
            _type=re.sub(r"[^a-zA-Z0-9]+",'',k).replace("temporary","")
            
        start_date = start.date() 
        end_date   = end.date()
        
        start_day  = start.strftime('%A')
        end_day    = end.strftime('%A')  
            
        if ((start_date != end_date) and ( ((end_time >1) and (start_day in ["Friday","Saturday","Sunday"]))  or ( date_to_str(start_date) in holiday_list or date_to_str(end_date) in holiday_list ) )):     
            delta_time1 = 24 - start_time 
            delta_time2 = end_time      
            start_date1 = start_date   
            end_date1= end_date
            start_date2 = end_date
            end_date2= end_date
        
            start1= start
            end2=end
            end1= end.replace(hour=0,minute=0)
            start2=end1
            start_day1=start1.strftime('%A')
         
            start_day2=start2.strftime('%A')
            
            data.append((parentotid,start_day1, start1, end1, _type))
            data.append((parentotid,start_day2, start2, end2,_type))  
            last_data.append((_id,start_period,end_period,parentotid,objecttimeid, start1, end1,start_day1, _type,delta_time1,_rate))
            last_data.append((_id,start_period,end_period,parentotid, objecttimeid,start2, end2,start_day2, _type,delta_time2,_rate))
            
        else: 
            delta_time = (end-start).total_seconds() / 3600.0
         
            data.append((parentotid,start_day,start,end,_type))
            last_data.append((_id,start_period,end_period,parentotid, objecttimeid,start, end,start_day, _type,delta_time,_rate))
        
    file = pd.DataFrame(data,columns=["ParentOT ID",'Day','Start Date','End Date','Type'])
    for parrent_id in file["ParentOT ID"].unique():
        
        last_end_date = file[file["ParentOT ID"] == parrent_id]['End Date'].iloc[-1]
        last_start_date = file[file["ParentOT ID"] == parrent_id]['Start Date'].iloc[0]

        if  len(file[file["ParentOT ID"] == parrent_id]["Day"].unique())>1      :
            file.loc[file["ParentOT ID"] == parrent_id,"End Date"] = file['End Date']
            file.loc[file["ParentOT ID"] == parrent_id,"Start Date"] = file['Start Date']
        else:
            file.loc[file["ParentOT ID"] == parrent_id,"End Date"] = last_end_date 
            file.loc[file["ParentOT ID"] == parrent_id,"Start Date"] = last_start_date
            
    file['Start Time'] = [i.hour + i.minute/60 for i in file['Start Date']]
    file['End Time'] = [i.hour + i.minute/60 for i in file['End Date']] 
    last_file = pd.DataFrame(last_data,columns=["ID",'Start Period','End Period','Parent ID','Object ID','Shift Start','Shift End','Day','Type','Quantity','Amount'])
    last_file['Factor'] = [cal_base_rate(file['Type'][i],file['Day'][i],file['Start Time'][i],file['End Time'][i], rate_data,file['Start Date'][i].date(),file['End Date'][i].date())[0] for i in range(len(file['Day']))]
    last_file['Rate OT1'] = [cal_base_rate(file['Type'][i],file['Day'][i],file['Start Time'][i],file['End Time'][i], rate_data,file['Start Date'][i].date(),file['End Date'][i].date())[1] for i in range(len(file['Day']))]
    last_file['Rate OT2'] = [cal_base_rate(file['Type'][i],file['Day'][i],file['Start Time'][i],file['End Time'][i], rate_data,file['Start Date'][i].date(),file['End Date'][i].date())[2] for i in range(len(file['Day']))]
    last_file['Shift'] = [cal_base_rate(file['Type'][i],file['Day'][i],file['Start Time'][i],file['End Time'][i], rate_data,file['Start Date'][i].date(),file['End Date'][i].date())[3] for i in range(len(file['Day']))]
    last_file['shift'] = ['Day shift' if last_file['Shift'][i] == 0 else ('Afternoon shift' if last_file['Shift'][i] ==1 else 'Night shift' ) for i in range(len(last_file['Day']))]
    last_file['TransactionTypeName'] = ['Holiday shift' if last_file['Factor'][i]==2.5 else   ( last_file['Day'][i] if last_file['Day'][i] in ['Saturday','Sunday'] else (last_file['shift'][i])) for i in range(len(last_file['Day']))]
    last_file['Start Date'] = file['Start Date']
    last_file['End Date'] = file['End Date']
    
    table = pd.DataFrame(last_file).sort_values(["ID",'Start Period','Start Date']).drop(['Shift', 'shift','Day'], axis='columns')
    return table      

get_data(time_df)

ValueError: Length of values (4308) does not match length of index (2361)

In [ ]:

def cal_payment():
    file = get_data(time_df)
    period_hour = {}
    parent_hour = {}
    
    shift_pay = []
    hour_day_list = {}
    
    for row in file.iterrows():
        _parent = row[1]["Parent ID"]
        _id          = row[1]["ID"]
        _key_parent = str(_id) + " " + str(_parent)
        _hour = row[1]["Quantity"]  
        if _key_parent in hour_day_list:
            hour_day_list[_key_parent] += _hour
        else:
            hour_day_list[_key_parent]= _hour
        
    for row in file.iterrows():
        _id          = row[1]["ID"]
        _period      = row[1]["Start Period"] 
        _key_period  = str(_id) + " " + str(_period)
        _hour = row[1]["Quantity"]   
        _rate = row[1]["Factor"]
        _ot1_rate = row[1]["Rate OT1"]
        _ot2_rate = row[1]["Rate OT2"]
        _type = row[1]["Type"]
        _parent = row[1]["Parent ID"]
        _object_id = row[1]["Object ID"]
        _key_parent = str(_id) + " " + str(_parent)
        base_rate = row[1]['Amount']
        payment = 0
        maxot_1 = get_maxot1(_type) 
        

        total_hour_parent = parent_hour[_key_parent] if _key_parent in parent_hour else 0      

        total_hour_period = period_hour[_key_period] if _key_period in period_hour else 0

        if (total_hour_parent + _hour <= maxot_1): 
            _hour_new = _hour + ((3 - hour_day_list[_key_parent]) if list(file[file["Parent ID"] ==_parent]['Object ID'])[-1] == _object_id and hour_day_list[_key_parent] < 3 else 0)

            if total_hour_period + _hour <= 38:
                payment = base_rate * _hour_new * _rate
                
            elif total_hour_period >= 40 :
              
                payment = base_rate * _hour_new * _ot2_rate
                
            elif total_hour_period >=38 and total_hour_period +  _hour < 40:
               
                payment = base_rate * _hour_new * _ot1_rate

            elif total_hour_period >=38 and total_hour_period +  _hour >= 40:  
                payment = base_rate*((40-total_hour_period)*_ot1_rate + (_hour_new + total_hour_period - 40)*_ot2_rate)

            elif total_hour_period + _hour_new  >  38 and total_hour_period < 38:
                ot_hour = (total_hour_period + _hour) - 38 

                base_hour = 38 - total_hour_period 
            

                base_pay = base_rate*(base_hour * _rate)

                ot_pay = base_rate*(min(2,ot_hour)*_ot1_rate + max(0,ot_hour-2)*_ot2_rate)

                payment = base_pay + ot_pay

            total_hour_period += _hour
            total_hour_parent += _hour
            
        else:   
            
            if total_hour_period + min(_hour,maxot_1) <= 38:   

                _hour_new = maxot_1 - total_hour_parent
                _hour_ot = total_hour_parent + _hour - maxot_1
                payment = (_hour_new * _rate + min(2, _hour_ot) * _ot1_rate + max(_hour_ot - 2, 0) * _ot2_rate)*base_rate
                
            elif total_hour_period >= 40 :              
                payment = base_rate*(max(_hour,3)*_ot2_rate)

            elif total_hour_period >=38 and total_hour_period + _hour <40:               
                payment = base_rate*(3*_ot1_rate)

            elif total_hour_period >=38 and total_hour_period + _hour >=40:    
                payment = base_rate*((40-total_hour_period)*_ot1_rate + (max(_hour,3) + total_hour_period-40)*_ot2_rate)

            elif total_hour_period + min(_hour,maxot_1)  >  38 and total_hour_period < 38:
                ot_hour = (total_hour_period + _hour) - 38 

                base_hour = 38 - total_hour_period 
            
                base_pay = base_rate*(base_hour *_rate)

                ot_pay = base_rate*(min(2,ot_hour)*_ot1_rate + max(0,ot_hour-2)*_ot2_rate)

                payment = base_pay + ot_pay
            
            total_hour_period += (maxot_1 - total_hour_parent) if total_hour_parent < maxot_1 else 0
            total_hour_parent += min(_hour,maxot_1) 
        
        parent_hour[_key_parent] = total_hour_parent
      
        period_hour[_key_period] = total_hour_period 
    
        shift_pay.append(payment)
    
    file["Payment"] = shift_pay
    
    return file.drop(['Rate OT1', 'Rate OT2',"Parent ID","Object ID"], axis='columns')
output = cal_payment()

result = output.sort_values(['ID','Start Period','Start Date']).reset_index(drop=True)
result
# result = result.to_excel("report_31_05.xlsx", index = True)
# print("Time elapsed: ", time.time() -  _time)